.xf {
    float: right;
    width: 50px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Microsoft YaHei';
    cursor: pointer;
}

.xfSpan {
    float: left;
}

.xf p {
    float: left;
    margin-left: 5px;
}
