.big_tx {
    width: 550px;
    & img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
        overflow: hidden;
        width: 120px;
        height: 120px;
    }
    & p {
        float: left;
        font-size: 14px;
        color: #999999;
        margin-left: 20px;
        margin-top: 10px;
        line-height: 21px;
    }
}
.cropper {
    float: left;
    width: 122px;
    height: 122px;
    cursor: pointer;
    position: relative;
}
.cropperWrap {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 1px #e8e8e8;
    background: url(./jiahao.png) center center no-repeat rgb(246, 246, 246);
    position: absolute;
    top: 0;
    left: 0;
}
.upload {
    width: 120px;
    height: 120px;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 100;
}
