/* .head_name {
    float: right;
    color: #fff;
    line-height: 60px;

    & span {
        float: left;
        margin: 0 10px;
    }
}

.user_name {
    float: left;
    cursor: pointer;
}

.tc {
    float: left;
    cursor: pointer;
} */

.about {
    width: 190px;
    float: right;
    font-family: 'Microsoft YaHei';
    cursor: pointer;
    height: 60px;
    background: url(./images/sj.png) 162px center no-repeat #f34e3d;
}

.head_icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    overflow: hidden;
}

.head_name {
    font-size: 16px;
    color: #fff;
    display: block;
    margin-top: 10px;
    float: none;
    line-height: normal;
}

.vip {
    float: left;
    height: 20px;
    line-height: 20px;
    display: block;
}

.vip b {
    font-size: 12px;
    vertical-align: top;
    color: #faa23b;
    font-weight: normal;
}

.vip span,
.vip i {
    width: 19px;
    height: 20px;
    /* background: url(./images/icon1.png) no-repeat -2px -180px; */
    display: inline-block;
    margin-left: 5px;
}

.vip i {
    background: url(./images/icon1.png) no-repeat -2px -220px;
}

.po {
    position: relative;
}

.xl {
    display: none;
    width: 160px;
    background: #fff;
    position: absolute;
    right: 0;
    font-family: 'Microsoft YaHei';
    top: 60px;
}

.xl ul {
    border-bottom: solid 1px #e5e5e5;
    padding: 10px 0;
}

.xl ul li {
    height: 40px;
    line-height: 40px;
}

.xl ul li.tc {
    float: none;
}

.xl ul li:hover {
    background: #f6f6f6;
}

.xl ul li a {
    color: #333333;
    font-size: 16px;
    margin-left: 30px;
    padding-left: 25px;
    text-decoration: none;
}

.xl ul li.zh a {
    background: url(./images/icon1.png) no-repeat -2px 1px;
}

.xl ul li.nr a {
    background: url(./images/icon1.png) no-repeat -2px -38px;
}

.xl ul li.tq a {
    background: url(./images/icon1.png) no-repeat -2px -79px;
}

.xl ul li.tc a {
    background: url(./images/icon1.png) no-repeat -2px -118px;
}

.xl p {
    margin-left: 33px;
    height: 30px;
    width: 100px;
}

.xl p a {
    font-size: 13px;
    color: #333333;
    padding-left: 26px;
    text-decoration: none;
    display: inline-block;
}

.d_f {
    background: #f6f6f6;
    padding: 12px 0;
}

.dafeng {
    /* background: url(./images/icon1.png) no-repeat -2px -172px; */
    margin-bottom: 10px;

    & a {
        padding-left: 0;
    }
}

.gly {
    background: url(./images/icon1.png) no-repeat -2px -212px;
}

.xf {
    float: right;
    width: 50px;
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Microsoft YaHei';
    cursor: pointer;
}

.xfSpan {
    float: left;
    opacity: 0.5;
}

.xf p {
    width: 30px;
    float: left;
    margin-left: 5px;
}

.box:hover {
    & .about {
        background: url(./images/sj1.png) 162px center no-repeat #d23537;
    }

    & .xl {
        display: block;
    }
}

.honorImg {
    float: left;
    width: 19px;
    height: 20px;
    margin-top: 5px;
    margin-right: 7px;
}
