.head {
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    background: #f65d3c;
    background-image: -webkit-linear-gradient(0deg, #fa703b, #ef3b3e);
}

.logo {
    float: left;
    margin-top: 10px;
}

.w_1200 {
    composes: clearfix from global;
    position: relative;
    width: 1200px;
    margin: 0 auto;
    font-family: 'Microsoft YaHei';
}

.about1 {
    width: 218px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: 264px;
    background: #f1453d;
    z-index: 100;
    width: 403px;
    margin-left: 194px;
}

.zz {
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 90;
    background: rgba(0, 0, 0, 0.15);
}
