.gr_bg {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding-top: 25px;
    font-family: 'Microsoft YaHei';
}
.regi_tit {
    width: 920px;
    margin: 0 auto;
    border-bottom: solid 1px #e5e5e5;
    & span {
        float: left;
        font-size: 22px;
        color: #333333;
        padding-bottom: 17px;
    }
}
